# 4. Verifikation

Jedes Requirement wird innerhalb der Entwicklungsumgebung (STACKIT Git) angelegt. Durch das verwenden von Kanban und Methoden aus dem Bereich der agilen Softwareentwicklung, kann jedes Requirement überwacht und “abgenommen” werden.
