# 4. Verification

Each requirement is created within the development environment (STACKIT Git). By using Kanban and methods from agile software development, each requirement can be monitored and “accepted”.
