# 4. Verification

Each requirement is maintained under version control in `docs/srs/` of the repository `normly/web-app` on GitHub. Implementation and acceptance are tracked via GitHub issues and pull requests; by using methods from agile software development, each requirement can be monitored and “accepted”.
